<mat-spinner *ngIf="(postsListState$ | async).isLoading"></mat-spinner>
<mat-accordion multi *ngIf="!(postsListState$ | async).isLoading">
  <mat-expansion-panel
    *ngFor="let post of (postsListState$ | async).posts"
    class="posts-container"
  >
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imageUrl" [alt]="post.title" />
    </div>
    <p>{{post.content}}</p>
    <mat-action-row
      *ngIf="(authState$ | async).authStatus && post.creator === (authState$ | async).userId"
    >
      <button mat-button color="accent" [routerLink]="['/edit', post.id]">
        EDIT
      </button>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="(postsListState$ | async).posts.length"
  [length]="(postsListState$ | async).postsTotal"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
>
</mat-paginator>
